#container-receita {
    display: none;
    background-color: var(--yellow-1);
    border-radius: 5px;
}

#container-receita #selecaoreceita{
    padding: 20px;
}

#container-receita input {
    max-width: 70px;
    margin: 10px;
}

#container-receita form {
    display: none;
    padding: 40px;
    box-shadow: var(--box-shadow);
    background-color: var(--yellow-5);
    color:  white;
}

#container-receita-od {
    border: 1px dashed var(--color-grey-ultralight);
    box-shadow: var(--box-shadow-menu);
    padding: 20px;
}

#container-receita-oe {
    border: 1px dashed var(--color-grey-ultralight);
    box-shadow: var(--box-shadow-menu);
    padding: 20px;
}

.container-olhos{
    padding: 10px;
}
                        /* estiliando dados armação */
#container-3{
    display: flex;
    justify-content: space-between;
}

#dadosArmacao{
    padding: 10px;
    border: 1px dashed var(--color-grey-ultralight);
}

#container-escolha-lente{
    padding: 10px;
    border: 1px dashed var(--color-grey-ultralight);
}

#container-escolha-lente select{
    min-width: 200px;
}

#container-escolha-lente{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container-escolha-lente button{
    background-color: green;
}
                                    /* listagem de pedidos */

#container-listagem{
    border: 1px solid black;
}

#lista-pedidos th{
    text-align: left;
    padding: 20px;
}
